<% content_for :title do %>About
<% end %>
<h3>Bienvenue</h3>

<div class="col-md-6">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining
    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
    Ipsum.</p>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Evénements</h3>
    </div>
    <div class="panel-body">
      <%= link_to 'Liste des événements', evenements_path, class: 'btn btn-default'  %>
      <%= link_to 'Ajouter un événement', new_evenement_path, class: 'btn btn-primary'  %>
    </div>
  </div>
</div>
