/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker3
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

.page-content {
  padding-top: 58px;
}


.sortable thead th {
  a {
    padding: 4px 24px 4px 0px;
    background-repeat: no-repeat;
    background-position: right
 }
  .asc {
    background-image: url(/assets/images/up.png);
  }
  .desc {
    background-image: url(/assets/images/down.png);
  }
}

.form-inputs {

  .input {

  }
  input, textarea {
    position: relative;
    height: auto;
  }
  input.string {
    width: 50%;
  }

  textarea {
    width: 50%;
    height: 80px;
    vertical-align: top;
  }

  label {
    width: 30%;
    vertical-align: top;
  }
}

.highlighted {
  font-weight: bold;
}

.upcoming {
  color: red;
}