<%= simple_form_for(@evenement) do |f| %>
  <%= f.error_notification message: 'Certains champs comportent des erreurs. Merci de vérifier votre saisie',
                           class: 'alert alert-danger' %>

  <div class="form-inputs">
    <%= f.input :name, autofocus: true, label: 'Nom' %>
    <%= f.input :date, as: :string, input_html: {class: 'bootstrap-datepicker', value: f.object.date_fr } %>
    <%= f.input :email %>
    <%= f.input :description, label: 'Description (300 caractères max)' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Enregistrer', class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>
