<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Editer l'événement</h3>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>

</div>
  <%= link_to 'Afficher', @evenement, class: 'btn btn-sm btn-primary' %>
  <%= link_to 'Retour à la liste', evenements_path, class: 'btn btn-sm btn-default' %>
