<h1>Liste des événements</h1>
<div class="col-md-12">
  <table class="table table-hover sortable">
    <thead>
    <tr>
      <th><%= sortable "name", "Nom" %></th>
      <th><%= sortable "date", "Date" %></th>
      <th><%= sortable "email", "Email organisateur" %></th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @evenements.each do |evenement| %>
        <tr>
          <td<%= evenement.date < 1.week.from_now ? ' class="upcoming"'.html_safe : '' %>><%= evenement.name %></td>
          <td><%= evenement.date_fr %></td>
          <td><%= evenement.email %></td>
          <td><%= highlight evenement.description, ['roue', 'peigne', 'chat', 'table'], highlighter: '<span class="highlighted">\1</span>' %></td>
          <td><%= link_to 'Voir', evenement, class: 'btn btn-sm btn-default' %></td>
          <td><%= link_to 'Editer', edit_evenement_path(evenement), class: 'btn btn-sm btn-primary' %></td>
          <td><%= link_to 'Supprimer', evenement,
                          method: :delete,
                          data: {confirm: 'Etes vous certain de vouloir supprimer l\'événement?'},
                          class: 'btn btn-sm btn-danger' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Nouvel événement', new_evenement_path, class: 'btn btn-sm btn-primary' %>
