<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Evénement</h3>
  </div>
  <div class="panel-body"><p>
    <strong>Nom :</strong>
    <%= @evenement.name %>
  </p>

    <p>
      <strong>Date :</strong>
      <%= @evenement.date_fr %>
    </p>

    <p>
      <strong>Email organisateur :</strong>
      <%= @evenement.email %>
    </p>

    <p>
      <strong>Description :</strong>
      <%= @evenement.description %>
    </p>
  </div>
</div>
<%= link_to 'Editer', edit_evenement_path(@evenement), class: 'btn btn-sm btn-primary' %>
<%= link_to 'Retour', evenements_path, class: 'btn btn-sm btn-default' %>
