<%# Rails flash messages styled for bootstrap 3 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert <%= name.to_s == 'notice' ? 'alert-success' : 'alert-danger' %>">
      <%= content_tag :div, msg %>
    </div>
  <% end %>
<% end %>
