<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : "Learn Rails" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Learn Rails" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<div class="container">
  <div class="page-content">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</div>
</body>
</html>
